<ons-page>
    <br/>
    N6S Tests
    <br/>    
	<ul class="fa-ul">

		<ons-list-item 
			class="topcoat-list__item_active"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('page1.html')">
			<i class="fa-li fa fa-search-plus fa-lg" style="top: 25%"></i>
			Get A Quote
		</ons-list-item>

		<ons-list-item 
			class="topcoat-list__item_active"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('page2.html')">
			<i class="fa-li fa fa-dollar fa-lg" style="top: 25%"></i>
			Quick Quotes
		</ons-list-item>

    	<ons-list-item 
			class="topcoat-list__item_active"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('barcodetest.html')">
			<i class="fa-li fa fa-dollar fa-lg" style="top: 25%"></i>
			Barcode Test
		</ons-list-item>

        <ons-list-item 
			class="topcoat-list__item_active"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('notify.html')">
			<i class="fa-li fa fa-dollar fa-lg" style="top: 25%"></i>
			Notify Test
		</ons-list-item>
        
        <ons-list-item 
    		class="topcoat-list__item_active"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('splashtest.html')">
			<i class="fa-li fa fa-dollar fa-lg" style="top: 25%"></i>
			Splash Test
		</ons-list-item>
        
        <ons-list-item 
        	class="topcoat-list__item_active"
			ng-click="ons.slidingMenu.toggleMenu(); 
			ons.slidingMenu.setAbovePage('warning_test.html')">
			<i class="fa-li fa fa-dollar fa-lg" style="top: 25%"></i>
			Warning Test
		</ons-list-item>
        
	</ul>

</ons-page>